* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.My-btn {
  padding: 15px 20px;
  background-color: aquamarine;
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
